<!DOCTYPE html>
<html>

<head>
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="/static/style.css">
</head>

<body>
	{% for message in messages %}
	<p>{{ message }}</p>
	{% endfor %}

	<div class=header>
	<a href="/">Elite Hardened Posting And Private Notetaking App</a>
	<div class="header-right">
		{% if user.is_authenticated %}
		<a href="/user/{{user.id}}">{{user.username}}</a>
		<form action="/logout/" method="POST">
			{% csrf_token %}
			<button type="submit">Log out</button>
		</form>
		{% else %}
		<a href="/login">Log in</a>
		<a href="/register">Register</a>
		{% endif %}
	</div>
	</div>

	<main>
	{% block content %}{% endblock %}
	</main>
</body>
</html>

