{% if user.is_authenticated %}
{{ user.username }}
<form action="/accounts/logout/" method="POST">
	{% csrf_token %}
	<button type="submit">Log out</button>
</form>
{% else %}
<a href="/accounts/login">Log in</a>
{% endif %}

<h1>Private notes</h1>
{% if user.is_authenticated %}

<form method="POST">
	{% csrf_token %}
	<textarea name="content">{{ notes }}</textarea><br>
	<button type="submit">Save</button>
</form>

{% else %}

<p><a href="/accounts/login">Log in</a>to see your private notes</p>

{% endif %}
